<img id="background" src="../../../assets/img/bloodbornSelecaoClasseRaca.jpg">
<div class="background" id="background1">
  <div class="gradient">
    <h1 class="introducao" style="margin-top: 5%; margin-bottom: 2%;">Seja bem-vindo ao <span
        style="color: rgb(255, 75, 111);">Chaos</span> Trials</h1>
    <h3 class="introducao">Aonde sua sorte está em jogo. <br> Sua dificuldade é <span
        style="color: rgb(255, 75, 111);">hardcore</span>, <br>
      mas não desanime, <br>pois sua <span style="color: rgb(255, 75, 111);">vitória</span> um dia chegará.</h3>
    <h3 class="introducao">Jogue já <span style="color: rgb(167, 255, 255);" (click)="registrarLogar()">REGISTRAR</span></h3>
  </div>
  <div class="telaDeCadastro">
    <h2 style="font-weight: 300; margin-bottom: 20%;">Login</h2>
    <label for="nomeInput">
      <h3 style="font-weight: 300;">Nome</h3>
    </label>
    <input name="nomeInput" id="nomeInput" type="text" autocomplete="off" [(ngModel)]="loginForm.nome">
    <label for="senhaInput">
      <h3 style="font-weight: 300;">Senha</h3>
    </label>
    <input name="senhaInput" id="senhaInput" type="text" autocomplete="off" [(ngModel)]="loginForm.senha">
    <button (click)="entrar()" id="buttonEntrar">
      <h2 id="textEntrar" style="font-weight: 500;">Entrar</h2>
    </button>
  </div>
</div>
<div class="background" id="background2">
  <div class="gradient2">
    <h1 class="introducao2" style="margin-top: 5%; margin-bottom: 2%;">Seja bem-vindo ao <span
        style="color: rgb(255, 75, 111);">Chaos</span> Trials</h1>
    <h3 class="introducao2">Já possuo uma conta <span style="color: rgb(167, 255, 255);" (click)="registrarLogar()">LOGAR</span></h3>
  </div>
  <div class="telaDeCadastro2">
    <h2 style="font-weight: 300; margin-bottom: 10%;">Registrar</h2>
    <label for="nomeInput">
      <h3 style="font-weight: 300;">Nome</h3>
    </label>
    <input name="nomeInput" id="nomeInput" type="text" autocomplete="off" [(ngModel)]="registrarForm.nome">
    <label for="emailInput">
      <h3 style="font-weight: 300;">Email</h3>
    </label>
    <input name="emailInput" id="emailInput" type="text" autocomplete="off" [(ngModel)]="registrarForm.email">
    <label for="senhaInput">
      <h3 style="font-weight: 300;">Senha</h3>
    </label>
    <input name="senhaInput" id="senhaInput" type="text" autocomplete="off" [(ngModel)]="registrarForm.senha">
    <label for="senhaInput">
      <h3 style="font-weight: 300;">Repita a senha</h3>
    </label>
    <input name="confSenhaInput" id="confSenhaInput" type="text" autocomplete="off" [(ngModel)]="registrarForm.senhaConfirmar">
    <button (click)="cadastro()" id="buttonEntrar2">
      <h2 id="textEntrar" style="font-weight: 500;">Registrar</h2>
    </button>
  </div>
</div>