@font-face {
  font-family: medievalFont;
  src: url(assets/fonts/BreatheFireIi-2z9W.ttf);
}
@font-face {
  font-family: monstserrat;
  src: url(assets/fonts/monstserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: medievalFont;
}

body {
  overflow: hidden;
}

app-login {
  width: 200vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
